.home {
    width: 70%;
    margin: 120px 0 0 220px;
    text-align: left;
}

.home1 {
    width: 70%;
    margin: -400px 0 0 900px;
    text-align: left;
}

@media(max-width: 450px) {
    .home {
        width: 70%;
        margin: 3rem auto;
        text-align: left;
    }
    .home1 {
        width: 70%;
        margin: 3rem auto;
        text-align: left;
    }
}

.button {
    margin: 0.7rem auto auto 0.5rem;
    text-align: left;
}

.fa-heart {
    color: red;
}

.fa-comment {
    color: blue;
}