    .img-thumbnail {
        padding: .15rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 70%;
        height: auto;
        margin: 10px 40px 0 55px;
    }
    
    @media(max-width: 450px) {
        img {
            width: 90%;
        }
    }