<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>Home
            </a>
            <a mat-list-item routerLink="login">
                <i class="material-icons">person</i>Login
            </a>
            <a mat-list-item routerLink="listanimais">
                <i class="material-icons">list</i>Lista
            </a>
            <a mat-list-item routerLink="novoanimal">
                <i class="material-icons">pets</i>Novo Animal
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>more_vert</mat-icon>
    </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>