.login {
    width: 100%;
    text-align: center;
}

@media(max-width: 450px) {
    .login {
        width: 70%;
    }
}

.cadastrar {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
}