<div class="d-flex align-items-center login mt-2">
    <div class="mx-auto text-center shadow-sm bg-white rounded p-5 my-5">
        <form class="form-signin " (ngSubmit)="login()">
            <i class="fa fa-users mb-2"></i>
            <h1 class="h3 mb-3 font-weight-normal">Entrar com</h1>
            <label for="username" class="sr-only mb-3">Usuário</label>
            <input type="text" class="form-control mb-3" placeholder="Nome do Usuário" [(ngModel)]="usuario" name="usuario" [ngModelOptions]="{standalone: true}">
            <label for="password" class="sr-only mb-3">Password</label>
            <input type="password" class="form-control mb-3" placeholder="Senha" [(ngModel)]="senha" name="senha" [ngModelOptions]="{standalone: true}">
            <button class="btn btn-lg btn-primary btn-block " type="submit ">Entrar</button>
        </form>

    </div>
</div>