<header class="sticky-top home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span><h2>GATITO BOOK</h2></span>
        <div *ngIf="user$ | async as user">
            <div *ngIf="user.name; else login">
                <i class="fa fa-user-circle mr-1"></i>
                <a class="mr-1 logout">{{user.name}}</a>
                <a (click)="logout()" class="logout"> Logout</a>
            </div>
        </div>
    </nav>
    <ng-template #login>
        <span class="navbar-text">
	    <a [routerLink]="['']" class="login">Login</a>	
	</span>
    </ng-template>
</header>