<mat-toolbar class="header">
    <span><img src="assets/img/gato.jpg" alt=""></span>
    <span><h2>GATITO BOOK</h2></span>
    <div *ngIf="user$ | async as user" class="logout">
        <div *ngIf="user.name; else login">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="mr-1">{{user.fullname}}</a>
            <a (click)="logout()"> Logout</a>
        </div>
    </div>
    <ng-template #login>
        <span class="navbar-text">
	        <a mat-list-item routerLink="login" class="login">Login</a>	
	</span>
    </ng-template>
</mat-toolbar>