<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>
<div class="d-flex align-items-center">
    <div class="mx-auto col-md-4 text-center shadow bg-white rounded p-2">
        <h2 class="text-center">Novo Usuário</h2>
        <form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()" #userForm="ngForm">
            <mat-form-field appearance="outline" class="form">
                <mat-label>E-mail</mat-label>
                <input matInput class="form-control" formControlName="email" required placeholder="E-mail">
                <app-mensagem *ngIf="novoUsuarioForm.get('email')?.errors?.required && novoUsuarioForm.get('email')?.touched" mensagem="E-mail obrigatório">
                </app-mensagem>
                <app-mensagem *ngIf="novoUsuarioForm.get( 'email')?.errors?.email && novoUsuarioForm.get('email')?.touched " mensagem="E-mail no formato incorreto">
                </app-mensagem>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form">
                <mat-label>Nome Completo</mat-label>
                <input matInput placeholder="Nome Completo" class="form-control" formControlName="fullName" required/>
                <app-mensagem *ngIf="novoUsuarioForm.get( 'fullName')?.errors && novoUsuarioForm.get('fullName')?.touched " mensagem="Nome incorreto">
                </app-mensagem>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form">
                <mat-label>Usuário</mat-label>
                <input matInput placeholder="Usuário" class="form-control" formControlName="userName" required/>
                <app-mensagem *ngIf="novoUsuarioForm.get('userName')?.errors?.minusculo && novoUsuarioForm.get('userName')?.touched " mensagem="Usuário deve ser em letra minúscula">
                </app-mensagem>
                <app-mensagem *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente " mensagem="Usuário já existe"></app-mensagem>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form">
                <mat-label>Senha</mat-label>
                <input matInput type="password" placeholder="Senha" class="form-control" formControlName="password" required/>
                <app-mensagem *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario" mensagem="Senha deve ser diferente do usuário">
                </app-mensagem>
            </mat-form-field>

            <button class="btn btn-lg btn-primary btn-block cadastro" [disabled]="userForm.invalid" type="submit">Cadastro</button>
        </form>

        <p class="my-3">Já é um usuário?<a class="btn btn-lg btn-link btn-block login" (click)="login()"> Faça Login</a></p>
    </div>
</div>