.home {
    width: 65%;
    margin: 3rem auto;
    text-align: center;
}

@media(max-width: 450px) {
    .home {
        width: 60%;
    }
    img {
        width: 80%;
    }
}

img {
    width: 70%;
}